@dodgerblue: dodgerblue;
@9d9d9d: #9d9d9d;

.height(@height) {
    height: @height;
}

.width(@width) {
    width: @width;
}

.color(@color) {
    color: @color;
}

.background(@background) {
    background: @background;
}

.display_flex {
    display: flex;
}

.display_none {
    display: none;
}

a:hover {
    text-decoration: none;
}

.heading_detail {
    font-weight: bold;
    .color(gray);
}

.detail_extra_info {
    .display_flex;
}

.detail_extra_info > div {
    padding: 10px 15px 10px 0;
    .color(@9d9d9d);
    font-size: 15px;
}

.detail_answer {
    .color(@9d9d9d);
    font-size: 15px;
}

.detail_note {
    .color(@9d9d9d);
    font-size: 15px;
    margin: 10px 0;
}

.button_vote {
    padding: 5px 10px;

    &:hover {
        .background(@dodgerblue);
        .color(white);
    }
}

.heading_related {
    .color(@dodgerblue);
    font-weight: bold;
    margin-top: 30px;

    &:after {
        .width(50px);
        .height(2px);
        content: "";
        display: table;
        border-bottom: @dodgerblue solid 2px;
    }
}

.vote_relike {
    .display_none;
    .background(#007500);
    .color(white);
    border: #007500 solid 1px;

    &:hover {
        .background(#008500);
        .color(white);
        border: #008500 solid 1px;
    }
}

.vote_redislike {
    .display_none;
    .background(#e5383b);
    .color(white);
    border: #e5383b solid 1px;

    &:hover {

        .background(#e3585a);
        .color(white);
        border: #e3585a solid 1px;
    }
}
