@dodgerblue: dodgerblue;

.height(@height) {
    height: @height;
}

.width(@width) {
    width: @width;
}

.color(@color) {
    color: @color;
}

.background(@background) {
    background: @background;
}

.display_flex {
    display: flex;
}

.display_none {
    display: none;
}

.heading_welcome {
    .color(@dodgerblue);
    font-weight: bold;
}

.after {
    content: "";
    display: table;
}

.heading_welcome::after {
    .after;
    border-bottom: @dodgerblue solid 2px;
    .width(50px);
    .height(2px);
}

.div_title {
    .heading_welcome;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.div_title::after {
    .after;
    .width(100%);
    .height(5px);
    border-bottom: #e5e5e5 solid 1px;
    margin-bottom: 20px;
}

.div_question {
    .display_flex;
    .color(black);
    cursor: pointer;
    font-size: 14px;
    padding: 0 5px 5px 5px;
    justify-content: space-between;
}

.block_qa {
    .display_none;
    .background(#ededed);
    border: #d1d1d1 solid 1px;
    padding: 5px 0 0 0;
    margin: 5px;
}

.div_answer {
    .display_none;
    .color(#000000);
    .background(#ffffff);
    margin: 10px 0 0 0;
    padding: 5px 10px;
    border-radius: 3px;
}

#element {
    overflow: auto;
    .height(500px);
    padding-right: 5px;
}

#element::-webkit-scrollbar {
    .width(6px);
    .background(#f1f1f1);
}

#element::-webkit-scrollbar-thumb {
    .background(rgb(161, 159, 159));
    border-radius: 5px;
}

.read_more {
    .display_flex;
    .background(#ffffff);
    .color(#6c6c6c) !important;
    align-items: center;
    justify-content: flex-end;
    padding: 3px 10px;
    &:hover{
        text-decoration: none;
        .color(black) !important;
    }
}

.fa-angle-right{
    padding-left: 2px;
}

.icon_down {
    .display_none;
}

.right_cate{
    .display_none;
}
