@dodgerblue: dodgerblue;
@9d9d9d: #9d9d9d;

.height(@height) {
    height: @height;
}

.width(@width) {
    width: @width;
}

.color(@color) {
    color: @color;
}

.background(@background) {
    background: @background;
}

.display_flex {
    display: flex;
}

.display_none {
    display: none;
}

.heading_welcome {
    .color(@dodgerblue);
    font-weight: bold;

    &:after {
        content: "";
        display: table;
        border-bottom: dodgerblue solid 2px;
        .width(50px);
        .height(2px);
    }
}

.list_faqs {
    .display_flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block_faqs {
    .display_flex;
    .width(20%);

    &:hover {
        text-decoration: none;
        .color(#0A246A);
    }

    flex-direction: column;
    padding: 10px 10px;
}

.index_div_question {
    text-align: center;
    padding-top: 5px;
    display: block !important;
}

.form_index_search {
    .display_flex;
}

.input_index_search {
    .width(90%);
}

.button_index_submit {
    .width(10%);
}

.heading_faqs {
    .color(@dodgerblue);
    font-weight: bold;
    text-transform: uppercase;

    &:after {
        content: "";
        display: table;
        border-bottom: dodgerblue solid 2px;
        .width(50px);
        .height(5px);
    }
}

.index_container_qa {
    border: 1px solid #ebebeb;
    margin: 5px;
}

.index_block_question {
    .display_flex;
    .background(#ebebeb);
    flex-direction: row;
    align-items: center;
    padding: 6px 5px;
    font-weight: bold;
    cursor: pointer;
}

.index_main_question {
    padding-left: 10px;
}

.index_answer {
    .display_none;
}

.index_text_answer {
    padding: 5px 10px;
}

.read_more {
    .background(#ebebeb);
    .display_flex;
    .color(#5a5a5a) !important;
    justify-content: flex-end;
    align-items: baseline;
    padding: 3px 10px;

    &:hover {
        text-decoration: none;
        .color(black) !important;
    }
}

.fa-angle-right {
    padding-left: 2px;
}

.icon_toggle {
    font-size: 10px;
}

.icon_minus {
    .display_none;
}
