.color(@color) {
    color: @color;
}

.display_flex {
    display: flex;
}

.name_sidebar {
    .color(#818181);
    margin-bottom: 40px;
}

.div_question {
    font-size: 16px;
    cursor: pointer;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}

.sidebar_row_bottom {
    margin-bottom: 50px;
}

.block_count_cate {
    .display_flex;
    flex-direction: row;
    align-items: center;
}
