<?php
/**
 * @var Bss\Fresher\Block\Index $block
 */
//dd($block->viewFaqs());
$detail = $block->detailFaqs();
$textView = 'views';
$countView = $block->viewFaqs()['viewed'];
if ($countView <= 1) {
    $textView = 'view';
}
?>
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
</head>
<h1 class="heading_detail"><?= $block->escapeHtml($detail[0]['title']) ?></h1>
<div class="detail_extra_info">
    <div>
        <i class="fas fa-user"></i> Created by <?= $block->escapeHtml($detail[0]['createdby']) ?>
    </div>
    <div>
        <i class="far fa-calendar-alt"></i> <?= $block->escapeHtml($detail[0]['created']) ?>
    </div>
    <div>
        <i class="far fa-eye"></i>
        <?= $block->escapeHtml($countView) ?>
        <?= $block->escapeHtml($textView) ?>
    </div>
</div>
<div class="detail_answer"><?= /*@noEscape*/ $detail[0]['answer'] ?></div>
<div class="detail_note">
    <div>
        * If you lost your registration email or if it never arrived, we can 
        <a href="#">resend the email mailer</a>.
    </div>
    <div>
        To become a seller, you'll need to
        <a href="#">create a seller account</a>.
        Learn more about
        <a href="#">getting started selling on eBay</a>.
    </div>
    <div>
        Was this article helpful?
        <button class="button_vote vote_like">
            <i class="far fa-laugh-beam"></i> Yes
        </button>
        <button class="button_vote vote_relike">
            <i class="fas fa-laugh-beam"></i> Yes
        </button>

        <button class="button_vote vote_dislike">
            <i class="far fa-angry"></i> No
        </button>
        <button class="button_vote vote_redislike">
            <i class="fas fa-angry"></i> No
        </button>
    </div>
</div>

<!--FAQs-->
<h3 class="heading_related">RELATED QUESTION:</h3>
<hr>
<?php
foreach ($block->detailFaqs($detail[0]['category_id']) as $k => $v) {
    if (count($block->detailFaqs($detail[0]['category_id'])) == 1) {
        echo 'No result';
    }
    if ($v['id'] == $detail[0]['id']) {
        continue;
    }
    echo '<a href="/bss/fresher/detail/id/' . $block->escapeHtml($v['id']) . '">' . $block
            ->escapeHtml($v['title']) . '</a>';

    break;
}
?>

<script type="text/x-magento-init">
    {
        "*": {
            "detail": {
                "id": "<?= /*@noEscape*/ $block->escapeHtml($detail[0]['id']) ?>"
            }
        }
    }
</script>
