<?php
/**
 * @var Bss\Fresher\Block\Faqs $block
 */
?>
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<!--FAQs-->
<h3 class="heading_welcome">Frequently Asked Question</h3>

<div id="element">
    <?php
    $idCategory = $block->getIdCategory();
    $faqs = $block->getDataFaqs();
    $test = [];
    $testdb = [];
    foreach ($block->getCategoryDB() as $k => $v) {
        ?>
        <div class="div_title cate_<?= $block->escapeHtmlAttr($v->getId()) ?>">
            <span class="right_cate right_cate_<?= $block->escapeHtmlAttr($v->getId()) ?>">
                <i class="far fa-hand-point-right"></i>
            </span>
            <?= $block->escapeHtml($v->getTitle()) ?>
        </div>
        <?php
        $test = /*@noEscape*/ $block->testDB($v->getId())->getData();
        $testdb = array_merge($testdb, $test);
        foreach ($block->testDB($v->getId())->getData() as $key => $post) {
            ?>
            <div class="block_qa qa_<?= $block->escapeHtmlAttr($v->getId()) ?>
                scroll_<?= $block->escapeHtmlAttr($faqs
                    ->load($post['category_id'], 'category_id')->getData()['category_id']) ?>">
                <div class="div_question title_click_<?= $block
                        ->escapeHtmlAttr($post['id']) ?> scroll_<?= $block->escapeHtmlAttr($faqs
                        ->load($post['category_id'], 'category_id')->getData()['category_id']) ?>">
                    <div><?= $block->escapeHtml($post['title']) ?></div>
                    <div>
                        <span class="symbol_right_<?= $block->escapeHtmlAttr($v
                                ->getId()) ?> title_right_<?= $block->escapeHtmlAttr($post['id']) ?>
                                show_right_<?= $block->escapeHtmlAttr($faqs
                                ->load($post['category_id'], 'category_id')->getData()['category_id']) ?>">
                            <i class="fas fa-angle-right"></i>
                        </span>
                        <span class="icon_down symbol_bottom_<?= $block->escapeHtmlAttr($v
                                ->getId()) ?> title_bottom_<?= $block->escapeHtmlAttr($post['id']) ?>
                                show_bottom_<?= $block->escapeHtmlAttr($faqs
                                ->load($block->escapeHtml($post['category_id']), 'category_id')
                                ->getData()['category_id']) ?>">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <div class="div_answer cate_ans_<?= $block->escapeHtmlAttr($v
                        ->getId()) ?> show_<?= $block->escapeHtmlAttr($post['id']) ?> ">
                    <?= /*@noEscape*/
                    substr(strip_tags($post['answer']), 0, strlen(strip_tags($post['answer'])) / 2)
                    ?>...
                    <a href="/bss/fresher/detail/id/<?= $block
                        ->escapeHtmlAttr($post['id']) ?>" class="read_more">
                        Read more...</a>
                </div>
            </div>
            <?php
        }
    }
    ?>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "faqs": {
                "catedb":<?= /*@noEscape*/ json_encode($block->getCategoryDB()->getData()) ?>,
                "testdb":<?= /*@noEscape*/ json_encode($testdb) ?>,
                "idcate":"<?= /*@noEscape*/ $idCategory ?>"
            }
        }
    }
</script>
