<?php
/**
 * @var Bss\Fresher\Block\Index $block
 */
?>

<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
</head>

<!--form search-->
<form class="form_index_search">
    <input class="input_index_search" name="search" type="search" placeholder="Search Frequently Asked Question">
    <button id="button_index_submit" class="button_index_submit action primary" type="submit">Search</button>
</form>

<?php
$getParamSearch = $block->escapeHtml($block->getParamSearch());
if (!isset($getParamSearch) || $getParamSearch == "") {
    ?>
    <!--Heading welcome-->
    <h3 class="heading_welcome">WELCOME TO OUR SUPPORT PORTAL</h3>
    <hr>
    <!--List FAQs-->
    <div class="list_faqs">
        <?php
        foreach ($block->getCategoryDB() as $key => $post) {
            ?>
            <a href="/bss/fresher/faqs/id/<?= $block->escapeHtmlAttr($post->getId()) ?>" class="block_faqs">
                <img src="/media<?= /*@noEscape*/ json_decode($post
                    ->getImage())[0]->url ?>" alt="<?= /*@noEscape*/ $post->getTitle() ?>">
                <div class="index_div_question"><?= $block->escapeHtml($post->getTitle()) ?></div>
            </a>
            <?php
        } ?>
    </div>
    <?php
}
?>

<!--FAQs-->
<h3 class="heading_welcome">Frequently Asked Question</h3>
<hr>

<?php
foreach ($block->filterFaqsDB() as $k => $v) {
    ?>
    <div class="index_container_qa">
        <div class="index_block_question title_<?= $block->escapeHtmlAttr($v['id']) ?>">
            <div class="add_<?= $block->escapeHtmlAttr($v['id']) ?> icon_toggle"><i class="fas fa-plus"></i></div>
            <div class="minus_<?= $block->escapeHtmlAttr($v['id']) ?> icon_toggle icon_minus">
                <i class="fas fa-minus"></i>
            </div>
            <div class="index_main_question"><?= $block->escapeHtml($v['title']) ?></div>
        </div>
        <div class="index_answer ans_<?= $block->escapeHtmlAttr($v['id']) ?>">
            <div class="index_text_answer">
                <?=
                substr(strip_tags(/*@noEscape*/$v['answer']), 0, strlen(strip_tags($v['answer'])) / 2)
                ?>...
            </div>
            <a href="/bss/fresher/detail/id/<?= $block->escapeHtmlAttr($v['id']) ?>" class="read_more">
                Read more 
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
    </div>
    <?php
}
if ($block->filterFaqsDB() == []) {
    echo 'No results for: ' . $getParamSearch;
}
?>

<script type="text/x-magento-init">
    {
        "*": {
            "js": {
                "faqs":<?= /*@noEscape*/ json_encode($block->filterFaqsDB()) ?>
            }
        }
    }
</script>
