<?php

/**
 * @var Bss\Fresher\Block\Index $block
 */

?>

<div class="name_sidebar">FAQs Categories</div>
<?php
foreach ($block->getCategoryDB() as $key => $post) {
    ?>
    <div class="block_count_cate">
        <a href="/bss/fresher/faqs/id/<?= $block->escapeHtml($post->getId()) ?>" class="div_question">
            <?= $block->escapeHtml($post->getTitle()) ?>
        </a>
        <div>(<?= $block->escapeHtml(count($block->getCountCategory($post->getId())->getData())) ?>)</div>
    </div>
    <?php
}
?>
<div class="sidebar_row_bottom"></div>
